
<div class="loaf">
  <%= link_to loaf.title, loaf_path(loaf) %>
  <div class="loaf__actions">
    <%= button_to "Delete",
                  loaf_path(loaf),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_loaf_path(loaf),
                class: "btn btn--light" %>
  </div>
</div>