<main class="container">
  <%= link_to sanitize("&larr; Back to loaf"), loaves_path(@loaf) %>

  <div class="header">
    <h1>Tweak the recipe</h1>
  </div>

  <%= render "form", loaf: @loaf %>
</main>