<main class="container">
  <div class="header">
    <h1>Loaves of Breaddit</h1><br>

    <%= link_to "Add your loaf",
                new_loaves_path,
                class: "btn btn--primary" %>
  </div>
  
    <%= render @loaves %><br>

    

</main>